/* variables */
:root {
    --MainColor: #10cab7;
    --TextColor: #2c4755;
    --FontWeight: extra-bold;
    --SpecialHeading: #ebeced;
    --transition-duration: .3s;
}

/* end variables */

/* several selector */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* body */
body {
    font-family: 'Work Sans', sans-serif;
    /* text-transform: capitalize; */
}

html {
    --webkit-scroll-behavior: smooth;
    --moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

.parent {
    background-color: #eee
}

center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}


/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* X-large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

}

.header .image {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover ul {
    display: block;
    z-index: 9999;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 1.5px;
}

.header .links .icon span:first-child {
    width: 100%;

}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--transition-duration);
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    position: absolute;
    right: 0;
    top: calc(100% + 22px);
    background-color: #DDD;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.header .links ul::before {
    content: "";
    background-color: transparent;
    border-color: transparent transparent #ddd transparent;
    position: absolute;
    top: -40px;
    right: 0.1rem;
    border-style: solid;
    border-width: 20px;
}

.header .links ul li:not(:last-child) {
    padding: 10px;
    border-bottom: 1px solid #aaa;
}

.header .links ul li:last-child {
    padding: 10px;
}

.header .links a {
    text-decoration: none;
    color: #333;
    transition: var(--transition-duration);
}

.header .links a:hover {
    color: var(--MainColor);
    padding-left: 0.5em;
    font-weight: 600;
    font-size: 20px;
}

/* end header  */
/* start landing section */
.landing {
    background-image: url(../images/pexels-photo-355770.jpeg);
    background-size: cover;
    text-align: center;
    height: calc(100vh - 64px);
    position: relative;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.intro-text h1 {
    color: var(--MainColor);
    letter-spacing: -1px;
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    width: 320px;
    max-width: 100%;
}

.intro-text p {
    font-size: 19px;
    line-height: 1.8em;
}

/* end landing section */

/* start features section  */
.features {
    padding: 60px 0;
    background-color: #f6f6f6;
}

.features .container img {
    width: 60px;
}

.features>.container {
    gap: 20px;
}

.features .feat {
    text-align: center;
}

.features .feat i {
    color: var(--MainColor);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 18px;
}

/* end features section  */


/* start special componant */
.services {
    padding: 60px 0;
}

.container .special-heading {
    color: var(--SpecialHeading);
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -4px;
}

.special-heading+p {
    text-align: center;
    font-size: 20px;
    color: #575757;
    transform: translateY(-2em);
    margin-bottom: 4em;
}

@media (max-width: 576px) {
    .services .container .special-heading {
        font-size: 60px;
    }

    .services .container .special-heading+p {
        font-size: 14px;
        transform: translateY(-1.9em);
    }
}

/* end special componant */

/* start services */
.services-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 20px;
}

.col .serve {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.col .serve i {
    color: var(--MainColor);
}

.col .serve p {
    line-height: 1.7;
    font-size: 1em;
    color: #777;
}

.services-content .serve .text {
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 3em;
    padding-top: 0;
    margin-top: 0;
}

.services-content .serve .text h3 {
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 1.2em;
}

/* X-small  */
@media (max-width: 991px) {
    .services-content {
        flex-wrap: wrap;
    }

    .graph {
        margin-top: 30px;
    }
}

/* end services */

/* grapph drow */
.services-content .graph {
    position: relative;
    display: none;
}

.graph img {

    width: 15em;
    height: 21em;
}

.graph .darkblue {
    height: 27em;
    width: 6em;
    background-color: var(--TextColor);
    position: absolute;
    z-index: -2;
    top: -3em;
    right: -3em;
}

@media (min-width: 1198.3px) {
    .services-content .graph {
        display: block;
    }
}

/* end graph drow */

/* start portfolio */
.portfolio {
    width: 100%;
    padding: 60px 0;
    background-color: #fafafa;
}

.container .row {
    gap: 3em;
}

.row .col-1 {
    background-color: #fff;
    position: relative;
}

.row .col-1 .img {
    height: 19em;
    background-color: #f6f6f6;
    background-size: cover;
}

.i-one {
    background-image: url(../images/portfolio-1.jpg);
}

.i-two {
    background-image: url(../images/portfolio-2.jpg);
}

.i-three {
    background-image: url(../images/portfolio-3.jpg);
}

.i-four {
    background-size: cover;
    background-image: url(../images/about.jpg)
}

.row .col-1 h4 {
    font-size: 22px;
    margin-bottom: 0.5em;
}

.row .col-1 p {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 16px;
    text-align: left;
}

.text {
    padding: .5em;
}

/* X-small  */
@media (max-width: 576px) {
    .portfolio .container>h2 {
        font-size: 60px;
    }

    .portfolio .container>h2+p {
        font-size: 12px;
        font-weight: 600;
        transform: translateY(-1.9em);
    }
}

/* medium */
@media (min-width: 1198px) {
    .portfolio {
        margin-top: 2em;
    }
}

/* end portfolio */

/* star about */
.about {
    padding: 60px 0;
    background-color: #fff;
    margin-bottom: 2em;
}

.about .container .aboutContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;

}

.about .row {
    gap: 7.6em
}

.about .row .graph-2 {
    position: relative;
    width: 244px;
    height: 336px;
}

.about .row .graph-2>div:first-child {
    width: 5em;
    height: 27em;
    background-color: #eeeeee47;
    position: relative;
    bottom: 2em;
}

.about .row .graph-2 div:nth-child(2) {
    width: 4em;
    height: 22em;
    background-color: var(--MainColor);
    position: absolute;
    left: 15em;
    bottom: 0.7em;
}

.about .row .graph-2 div:nth-child(2)::after {
    content: "";
    display: block;
    width: 8em;
    height: 4.5em;
    background-color: var(--MainColor);
    position: absolute;
    bottom: 0;
}

.about .row .graph-2 div:last-child {
    width: 14em;
    height: 21em;
    background-color: #eee;
    position: absolute;
    left: 3em;
    top: 1em;
    box-shadow: 0 0 10px #888888ab;
}

/* Costume graph design */
@media (max-width: 992px) {

    .about .row .graph-2>div:first-child,
    .about .row .graph-2 div:nth-child(2),
    .about .row .graph-2 div:nth-child(2)::after {
        display: none;
    }

    .about .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 2em;
    }

    .about .row .text {
        text-align: center;
    }
}


.about .row .text p:first-child {
    font-weight: 800;
    padding-bottom: 4em;
    position: relative;
}

.about .row .text p:first-child::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--MainColor);
    border-radius: 5px;
    position: absolute;
    bottom: 1em;
}

.about .row .text {
    line-height: 1.6;
}

/* large */
@media (min-width: 1200px) {
    .about .row {
        gap: 8em;
    }
}

/* end about */

/* start contact */
.contact {
    background-color: #fafafa;
    padding: 60px 0;
}

.contact .container .text-C {
    text-align: center;
    line-height: 2;
}

.contact .text-C h4 {
    font-weight: 800;
}

.contact .text-C a {
    color: var(--MainColor);
    font-weight: 800;
    padding-bottom: 2em;
    position: relative;
    z-index: 2;
    text-decoration: none;
}

.contact .text-C>p::after {
    /* content: ""; */
    display: block;
    top: 17px;
    position: absolute;
    left: 0.9em;
    background-color: #fff;
    height: 12px;
    width: 12em;
    transform: translateX(22em);
    z-index: -1;
    border-radius: 1px;

}

.contact .icons-C {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

@media (max-width: 430px) {
    .contact .container>h2 {
        font-size: 60px;
    }

    .contact .container>h2+p {
        font-size: 12px;
        font-weight: 600;
        transform: translateY(-1.9em);
    }


}

@media (max-width: 430px) {
    .contact .container .icons-C {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .contact .container .icons-C>p {
        font-size: 14px;
    }
}

/* end contact */

/* start footer */
footer {
    padding: 30px 0;
    text-align: center;
    background-color: #2c4755;
    color: #fff;
}

footer>p {
    font-weight: 600;
}

footer>p>span {
    color: var(--MainColor);
}

/* end footer */